/* Reset */
html, body, div, p, ul, li, img, span, a, h1, h2, h3, h4 { margin:0; padding:0; }
html { font-family:Trebuchet MS; font-size:12px; line-height:16px; color:#383838; }
a { color:#383838; text-decoration:none; }
a:hover { color:#383838; text-decoration:underline; }
a img { border:none; }
.clear { clear:both; }
.indentation{margin-left: 20px;}
	
body {
  background-image: url("../img/background.png");
  background-attachment : fixed;
}


/*Headers*/

header {
  width: 900px;
  height: 150px;
  margin: auto;
  margin-top: 40px;
}

#banner {
  width: 900px;
  height: 110px;
  margin: auto;
  background-color: violet;
  opacity: 0.5;
}

#menu {
  width: 300px;
  height: 30px;
  margin: auto;
  margin-top:80px;
}

#menu li {
  margin-left: 10px;
  padding-top: 5px;
  list-style: none;
  float: left;
  font-size: 15px;
}

#search{ 
  width: 500px;
  height: 40px;
}

#theme{
    float:left;
    width: 200px;
}

#user{
    float: right;
    width: 300px;
}

/*Content*/

#content {
  width: 1111px;
  height: 626px;
  margin: auto;
  margin-top: 10px;
  background-image: url("../img/fond_content.png");
}

.gauche {
  float: left;
  margin: 110px 0px 0px 170px; /* haut droite bas gauche */
  width: 410px;
  height: 390px;
  color: black; 
}

.droite {
  float: right;
  margin: 60px 110px 0px 0px; /* haut droite bas gauche */
  width: 290px;
  height: 480px;
}



/*Acceuil unlogged*/

h1{
  font-size: 15px;
  text-decoration: underline;
}
.intro{
  text-align: center;
  font-size: 13px;
}
form{
  margin-left: 10px;
}
form label{
  float:left;
  display: inline;
  width:80px;
}

.alert{
    color: darkred;
    background-color: cornsilk;
}
/*Accueil logged*/
.bjr{
    margin-left: 90px;
    font-size: 15px;
}


/*Profil*/
.droite {
  float: right;
  margin: 60px 135px 0px 0px; /* haut droite bas gauche */
  width: 265px;
  height: 480px;
}

.droite_haut {
  margin-top: 8px;
  margin-left: 55px;
  width: 230px;
  height: 120px;
  background-image: url("../img/fond_droite_haut.png");
}

.avatar {
  margin-right: 7px;
}

.droite_bas {
  margin-top: 20px;
  margin-left: 25px;
  width: 240px;
}

.droite form {
  float: right;
}

.rotate {
-webkit-transform: rotate(19deg);
-moz-transform: rotate(19deg);
transform: rotate(19deg);
}

/*Footer*/

footer {
  width: 600px;
  height: 50px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 40px;
}

#pdp{
  margin: 20px 0px 0px 10px; /* haut droite bas gauche */
  padding-top: 5px;
  height: 22px;
  width: 471px;
  float: left;
  text-align: center;
  background-image: url("../img/pdp.png");
}

#logo{
  float: left;
}

footer img{
  width: 51px;
  height:70px;
}
