/* Reset */
	html, body, div, p, ul, li, img, span, a, h1, h2, h3, h4 { margin:0; padding:0; }
	html { font-family:Trebuchet MS; font-size:12px; line-height:16px; color:#383838; }
	a { color:#383838; text-decoration:none; }
	a:hover { color:#383838; text-decoration:underline; }
	a img { border:none; }
	.clear { clear:both; }
        .indentation{margin-left: 5px;}
	
body {
  background-image: url("../img/background.png");
  background-attachment : fixed;
}

header {
  width: 900px;
  height: 150px;
  margin: auto;
  margin-top: 40px;
  background-color: blue;
  opacity: 0.5;
}

#banner {
  width: 900px;
  height: 110px;
  margin: auto;
  background-color: red;
  opacity: 0.5;
}

header search{
  width: 400px;
  height: 40px;
  margin-left: 150px;
  background-color: white;
}

#menu {
  width: 150px;
  height: 30px;
  margin: auto;
  margin-top:70px;
}

#menu li {
  margin-left: 10px;
  padding-top: 5px;
  list-style: none;
  float: left;
  font-size: 15px;
}

#content {
  width: 1111px;
  height: 626px;
  margin: auto;
  margin-top: 10px;
  background-image: url("../img/fond_content.png");
}

#droite {
  float: right;
  background-color: black;
  opacity: 0.5;
  margin: 60px 110px 0px 0px; /* haut droite bas gauche */
  width: 290px;
  height: 500px;
}

#search{ 
  width: 400px;
  height: 40px;
  margin-left: 150px;
  background-color: white;
}

#gauche {
  margin: 90px 0px 0px 170px; /* haut droite bas gauche */
  background-color: black;
  opacity: 0.5;
  width: 410px;
  height: 380px;
}


footer {
  width: 600px;
  height: 50px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 40px;
}

#pdp{
  margin: 10px 0px 0px 10px; /* haut droite bas gauche */
  padding-top: 5px;
  height: 25px;
  float: left;
  background-color: white;
}

#logo{
  float: left;
}

footer img{
  width: 51px;
  height:70px;
}
